.elimination{
    background: #F05942;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
}
.winning{
    background: #26628A;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
}