@import '../../../variables.sass';

$green-excelent: #27ae60;

.header-container
    width: 100%;
    .row
        margin-bottom: 0px!important;

.img-container
    height: 50px;

.btn
    overflow: hidden;

.collapsible-header
    padding: 0.5rem!important;
    .title
        font-size: 1rem;
        font-weight: bold;

.card-candidate
    margin-top: 20px;
    margin-bottom: 0;

.card-candidate div p
    text-align: left;

.card-candidate div h6
    text-align: left;

.dropdown-content li a
    color: #333;
    border-left: 4px solid;
.dropdown-button
    width: 100%;

.btn-vote
    background-color: #FFF!important;
    color: $green-excelent!important;

.name-candidate
    margin: 0px;

.collapsible-header
    transition: all 0.3s ease-in;

.selected 
    .collapsible-header
        background-color: $primary-blue!important;
        background-color: #AD310B;
        transition: all 0.3s ease-in;
        color: white;
    .btn-vote
        background: $green-excelent!important;
        color: white!important;
