$primary-blue: #26628A;
$secondary-blue: #6BC5D3;
$primary-gray: #D9F1FA;
$primary-black: #3F404A;
$primary-red: #F15942;


$default-transition-property: all;
$default-transition-duration: 1s;
$default-transition-function: false;
$default-transition-delay: false;