<a (click)="openModal()" [ngClass]="cssClass">
  <i class="material-icons">edit</i>
</a>
<!-- Modal Structure -->
<div class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h4 class="center-align" translate="Proposition.Title"></h4>
      <div class="input-field">
          <input id="nomProposition" type="text"
            class="validate"
            [placeholder]="'Shared.Name' | translate"
            (keydown.enter)="$event.preventDefault()"
            required
            [(ngModel)]="proposition.Name" name="nomProposition">
          <label for="nomProposition" translate="Shared.Name"></label>
      </div>
      <div class="input-field">
          <textarea id="descriptionProposition" 
            class="materialize-textarea"
            placeholder=" "
            [(ngModel)]="proposition.Description"></textarea>
          <label for="descriptionProposition" translate="Shared.Description"></label>
      </div>
      <div class="input-field left-align">
        <span translate="Shared.Color"></span>
        <app-color-picker name="couleur" [(couleur)]="proposition.Color"></app-color-picker>
      </div>
      <div class="input-field">
        <span translate="Shared.Photo"></span> <br/>
        <img [src]="proposition.Photo" height="150"/> <br/>
        <input type="file" [id]="'photo' + proposition.Id" name="photo" class="hide" (change)="fileChange($event)" accept=".png,.jpg,.bmp">        
        <button type="button" class="btn" [name]="'#photo' + proposition.Id" onclick="$(this.name).click();" translate="Shared.AddPhoto">
          Upload a photo
        </button>
        <button *ngIf="proposition.Photo != ''" type="button" class="btn red" (click)="deletePhoto();"><i class="material-icons">close</i></button>
        <button *ngIf="proposition.Photo == ''" type="button" class="btn red disabled" (click)="deletePhoto();"><i class="material-icons">close</i></button>
        <span *ngIf="error != ''" class="red-text">{{error}}</span>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="closeModal()" class=" modal-action modal-close waves-effect waves-green btn-flat" translate="Shared.Cancel"></a>
      <a (click)="update()" class=" modal-action modal-close waves-effect waves-green btn-flat" translate="Shared.Confirm"></a>
    </div>
</div>