<div class="container">
  <div class="row">
    <div class="col s12 m12 center-align">
      <h4 translate="Shared.ForgottenPassword"></h4>
      <form materialize #fpassword="ngForm" (ngSubmit)="onSubmit(fpassword)" *ngIf="!code && !submited">
          
        <div class="input-field">
          <input id="Email" 
                 type="email" 
                 class="validate"
                 [(ngModel)]="email"
                 name="Email"
                 required >
          <label for="Email" translate="Shared.Email"></label>
        </div>
        <button type="submit" class="waves-effect waves-light btn" [disabled]="!fpassword.valid" *ngIf="!submitting" translate="Password.AskNewPassword"></button>
        <div class="preloader-wrapper big active" *ngIf="submitting">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      </form>
      <div *ngIf="!code && submited" translate="Password.RequestSend"></div>
      <form materialize #fNewPassword="ngForm" (ngSubmit)="onSubmitNewPassword(fNewPassword)" *ngIf="code && resetPasswordViewModel" autocomplete="off">
        <div class="input-field">
          <input id="ResetEmail" 
                 type="email" 
                 class="validate"
                 [(ngModel)]="resetPasswordViewModel.Email"
                 name="ResetEmail"
                 required
                 autocomplete="none" >
          <label for="ResetEmail" translate="Shared.Email"></label>
        </div>
        <div class="input-field">
          <input id="ResetPassword" 
                 type="password" 
                 class="validate"
                 [(ngModel)]="resetPasswordViewModel.Password"
                 pattern="^(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                 name="ResetPassword"
                 #password="ngModel"
                 required
                 autocomplete="new-password" >
          <label for="ResetPassword" translate="Password.NewPassword"></label>
          <div *ngIf="password.errors">
              <div [hidden]="!password.errors.pattern"
                    class="white-text deep-orange darken-4 left-align password-tips" [innerHTML]="'Shared.PasswordError' | translate"></div>
          </div>
        </div>
        <div class="input-field">
          <input id="ConfirmPassword" 
                 type="password" 
                 class="validate"
                 [(ngModel)]="resetPasswordViewModel.ConfirmPassword"
                 #confirmPassword="ngModel"
                 name="ConfirmPassword"
                 required
                 autocomplete="off" >
          <label for="ConfirmPassword" translate="Password.ConfirmPassword"></label>
          <div *ngIf="resetPasswordViewModel.ConfirmPassword != resetPasswordViewModel.Password">
            <div class="white-text deep-orange darken-4 left-align password-tips" translate="Password.NotTheSame"></div>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn" [disabled]="!fNewPassword.valid" translate="Password.ValidPassword"></button>
      </form>
    </div>
  </div>
</div>
